/*Sur la page principal*/

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.211);
    padding: 0px;

    &__texte {
        font-weight: 600;
    }
}
.reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 70px 20px;
    background-color: $fondmenu;
    &__texte {
        text-align: center;
        margin: 5px auto;
        &--titre {
        margin: 0 20px;
        }
    }
}

/* Navigation de la page principal */
.fonctionnement {
    color: black;
    &__titre {
        display: flex;
        padding-left: 15px;
        @media (min-width: 750px) {
            padding: 0;
            align-items: center;
            justify-content: center;
        }

    }

    &__liste {
        display: flex;
        flex-direction: column;
        width: 95%;
        padding: 5px 0px;
        padding-left: 18px;
        @media (min-width: 750px) {
            width: 100%;
            padding: 0;
            justify-content: center;
            flex-direction: row;
        }
    }

    &__element {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 20px;                
        box-shadow: 0px 5px 15px 5px rgba(177, 165, 165, 0.256);
        width: 90%;
        max-width: 350px;
        margin: 25px 0px;
        background-color: rgba(128, 128, 128, 0.055);
        padding-left: 15px;
        &--couleur {
            background-color: #F5EDFF;
        }
        @media (min-width: 750px) {
            margin: 20px 20px;
            width: 30%;
        }
    }

    &__chiffre {
        display: flex;
        justify-content: center;
        color: white;
        background-color: $couleurprimaire;
        padding: 5px 5px;
        border-radius: 50%;
        font-size: 12px;
        height: 14px;
        width: 14px;
        margin-left: -25px;
    }

    &__texte {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        &--couleur {
            color: $couleurprimaire;
        }
    }
}

/* Main de la page principal */
.restaunav {
    background-color: $fondmenu;
    width: 100%;
    padding: 20px 0 40px 0;

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        @media (min-width: 737px) {
            flex-direction: row;
            padding: 10px 0;
        }
    }

    &__titre {
        display: flex;
        padding-top: 20px;
        padding-left: 20px;
        @media (min-width: 737px) {
            padding-left: 15%;
            padding-top: 40px;
        }

    }
 
    }
.restaucard {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    margin: 10px 15px;
    width: 92%;
    min-width: 30%;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    @media (min-width: 737px) {
        width: 35%;
        height: 320px;
    }
        
    &__image {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    &__nouveau {
        position: absolute;
        border-radius: 3px;
        background-color: #99E2D0;
        padding: 10px 18px;
        top: 20px;
        right: 20px; 
        &--texte {
            margin: 0;
            color: #159374;
        }

    }
    &__paragraphe {
        display: flex;   
    }    
  
    &__texte {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: 0px 10px;
        color: black;     
        
        &--gras {
            padding-top: 5px;
            margin: 5px;
        }

        &--normal {
            margin: 5px;
        }
    }
        
    &__coeurvide {
        display: flex;
        margin: 20px 30px 5px 5px;
        padding: 7px;
        color: black;
        font-size: 23px;
        font-weight: 100;
        position: relative;
        overflow: hidden;
        z-index: 1;
        opacity: 1;
        transition: transform 350ms ease-in-out;
        &:hover {
            transform: scale(1.15);
            color: $couleurprimaire;
            & .restaucard__coeurplein {
                opacity: 1;
            }
        } 
    }

    &__coeurplein {
        position: absolute;
        color: $couleurprimaire;
        font-size: 23px;
        font-weight: 100;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }

}