/*Variables*/

$Policesite: 'Roboto', sans-serif;
$Policestitre: 'Shrikhand', cursive;
$blanc : white;
$couleurprimaire : #9356DC;
$couleursecondaire : #FF79DA;
$couleurtertiaire : #99E2D0;
$couleurbouton : #a75cdc;
$couleurboutonafter : #e471db;
$fondmenu : #F6F6F6;